@font-face {
    font-family: 'Bitter';
    src: local('Bitter'), url('Bitter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('bg_fixed.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #000000;
    margin: 0;
    font-family: 'Bitter', sans-serif;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.font {
    font-family: 'Bitter', sans-serif;
}

.main_div {
    padding: 20px;
    margin: 0px 0;
    background-color: #000000;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-top: 120px;
    width: 200%;
}

.main_div.active {
    opacity: 1;
}

p {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
}

header {
    background-color: #000000;
    color: #000000;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

button {
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
    transition: color 0.5s ease-in-out;
}

button:hover {
    color: #000000;
}

button.active {
    color: #000000;
}

nav button {
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    border: none;
}

nav button:hover {
    background-color: #ffffff;
}

nav button.active {
    background-color: #ffffff;
}
